= simple_form_for(@room_tenant_link) do |f|
  = f.error_notification
  .inputs
    = f.input :room_id
    = f.input :tenant_id
    = f.input :start_date
    = f.input :end_date
  .actions
    = f.button :submit
