%h1 Listing room_tenant_links
.pagination.pagination-small.pagination-centered
  = paginate @room_tenant_links
%table.table.table-striped.table-hover
  %thead
    %tr
      %th Room
      %th Tenant
      %th Start date
      %th End date
      %th
      %th
      %th
  %tbody
    - @room_tenant_links.each do |room_tenant_link|
      %tr
        %td= room_tenant_link.room_id
        %td= room_tenant_link.tenant_id
        %td= room_tenant_link.start_date
        %td= room_tenant_link.end_date
        %td= link_to 'Show', room_tenant_link
        %td= link_to 'Edit', edit_room_tenant_link_path(room_tenant_link)
        %td= link_to 'Destroy', room_tenant_link, method: :delete, data: { confirm: 'Are you sure?' }
.pagination.pagination-small.pagination-centered
  = paginate @room_tenant_links
= link_to 'New Room tenant link', new_room_tenant_link_path
