%p#notice= notice
%p
  %strong Name:
  = @room_attribute.name
%p
  %strong Abbreviation:
  = @room_attribute.abbreviation
= link_to 'Edit', edit_room_attribute_path(@room_attribute)
|
\#{link_to 'Back', room_attributes_path}
