!!!
%html
  %head
    %title IDApp
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0"}
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container
          %a.btn.btn-navbar{'data-toggle' => "collapse", 'data-target' => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: root_path}
            = image_tag 'idlogo-small.png'
            Innovation Depot
          .nav-collapse.collapse
            - if !current_user.nil?
              %ul.nav.nav-pills
                = primary_nav_element "Rooms", rooms_path, 'rooms'
                = primary_nav_element 'Tenants',tenants_path, 'tenants'
                = primary_nav_element 'Contacts',contacts_path, 'contacts'
            %ul.nav.nav-pills.pull-right
              - if !current_user.nil?
                %li= link_to 'logout', destroy_user_session_path, method: :delete
              - else
                %li= link_to 'login', new_user_session_path

    %a{href: "https://github.com/you"}
      %img{style: "position: absolute; top: 0; right: 0; border: 0;", src: "https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png", alt: "Fork me on GitHub"}
    .container
      .row
        -if notice
          %p.notice= notice
        -if alert
          %p.alert= alert
      = yield
