!!!
%html
  %head
    %title IDApp
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container
          %a.btn.btn-navbar{'data-toggle' => "collapse", 'data-target' => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: link_to(root_path)} Innovation Depot
          .nav-collapse.collapse
            %ul.nav.nav-pills
              = primary_nav_element "Rooms", rooms_path, 'rooms'
              = primary_nav_element 'Tenants',tenants_path, 'tenants'
              = primary_nav_element 'Contacts',contacts_path, 'contacts'
    .container-fluid
      = yield
