!!!
%html
  %head
    %title IDApp
    = stylesheet_link_tag    "mapplication", media: "all", "data-turbolinks-track" => true
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
    = csrf_meta_tags
  %body
    - navbar_html = render partial: 'application/navbar'
    = yield
    = javascript_include_tag "mapplication", "data-turbolinks-track" => true
    - if !current_user.nil?
      = javascript_include_tag "map_editing", "data-turbolinks-track" => true
